.today-heading{
    font-size: 18px;
    color: var(--ion-color-primary);
}
.date-heading{
    font-size: 20px;
    font-weight: 900;
}
.comp-tasks{
    font-size: 14px;
    color: var(--ion-color-secondary);
}
.morning-text{
    padding-bottom: 10px;
    font-weight: 600;
}
.total-tasks-text{
    color: var(--ion-color-primary);
}
.completed-tasks-text{
    color: var(--ion-color-success);
}
